.extReadLaterItem {
    border: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}