/* Container ID */
#extReadLaterBar {
    padding: 0;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0%;
    right: 0%;
    border: none;
    background-color: transparent;
    z-index: 9999;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

/* Read Later Document Item */
.extReadLaterItem {
    margin: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Read Later Document Item Box (For click) */
.extReadLaterItemBox {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Read Later Document Item Name */
p.extReadLaterItemName {
    margin: 0;
    padding: 0;
}

/* Read Later Document Item Close Button */
div.extReadLaterItemClose {
    margin: 0;
    margin-left: 8px;
    padding: 0;
    cursor: pointer;
}
svg.extReadLaterItemCloseIcon {
    width: 24px;
    height: 24px;
    color: #5f6368
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    /* Item */
    .extReadLaterItem {
        background-color: #1f2023;
        border: 1px solid #383840;
    }
    
    /* Close button icon */
    svg.extReadLaterItemCloseIcon {
        color: white;
    }

    /* Item name */
    p.extReadLaterItemName {
        color: white;
    }
}